@font-face {
  font-family: "TGSPerfectCondensed";
  src: url("./assets/fonts/TGSPerfectCondensed.ttf");
}

@font-face {
  font-family: "JUSTSansRegular";
  src: url("./assets/fonts/JUSTSansRegular.otf");
}

@font-face {
  font-family: "Nexusbold";
  src: url("./assets/fonts/Nexusbold-Rounded.ttf");
}
